.bot-avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    background-color: purple;
    color: #fff;
    margin-right: 15px;
}
