* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #aa0740;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #900835, #e50947);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #d40c45, #aa072d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.react-chatbot-kit-chat-container {
  width: 400px;
}

.react-chatbot-kit-chat-bot-message {
  margin-left: 10px;
}

.react-chatbot-kit-chat-bot-message {
  background-color: #f10947;
}

.react-chatbot-kit-chat-bot-message-arrow {
  border-right: 8px solid #f10947;
}

.react-chatbot-kit-chat-btn-send {
  background-color: #f10947;
}

.ADE {
  background-color: #a62648;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  color: white;
  border-radius: 100%;
}

.start-btn {
  background-color: #f10947;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  margin-left: 3rem;
}

.slow-btn {
  margin-left: 1rem;
}

.img-component {
  margin-left: 3rem;
  position: relative;
}

.img-container {
  width: 185px;
  height: 185px;
  border: 2px solid #61045f;
  overflow: hidden;
  border-radius: 5px;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-component a {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: #61045f;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.img-component a:hover {
  background-color: #61045f5e;
}
