* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #9b0000 url("../src/assets/bg.jpg") repeat center;
  background-size: cover;
  background-attachment: "fixed";
  background-blend-mode: overlay;
  background-color: #a36659;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #900835, #e50947),
    url("../src/assets/bg.jpg") repeat center;
  background-size: cover;
  background-attachment: "fixed";
  background-blend-mode: overlay;
  background-color: #a36659;
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #d40c45, #aa072d)
    url("../src/assets/bg.jpg") repeat center;
  background-size: cover;
  background-attachment: "fixed";
  background-blend-mode: overlay;
  background-color: #a36659;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.react-chatbot-kit-chat-container {
  width: 500px;
  height: 600px;
}

.react-chatbot-kit-chat-inner-container {
  height: 600px;
}

.react-chatbot-kit-chat-message-container {
  height: 520px;
}

.react-chatbot-kit-chat-bot-message {
  margin-left: 10px;
  width: 100%;
}

.react-chatbot-kit-chat-header {
  background-color: #9b0000;
  color: white;
  font-weight: bold;
}

.react-chatbot-kit-chat-bot-message {
  background-color: #9b0000;
}

.react-chatbot-kit-chat-bot-message-arrow {
  border-right: 8px solid #9b0000;
}

.react-chatbot-kit-chat-btn-send {
  background-color: #9b0000;
  transition: 0.7s;
}

.ADE {
  background-color: #a62648;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  color: white;
  border-radius: 100%;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
  border: 2px solid #e20d0d;
}

.start-btn {
  background-color: #f10947;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  margin-left: 3rem;
  margin-top: 3px;
}
.start-btn:hover {
  background-color: #ff7ea1;
  transition: 0.5s;
}

.end-btn {
  background-color: #57209e;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  margin-left: 3rem;
  margin-top: 3px;
}
.end-btn:hover {
  background-color: #786adf;
  transition: 0.5s;
}

.slow-btn {
  margin-left: 1rem;
}

.img-component {
  margin-left: 3rem;
  position: relative;
}

.img-container {
  width: 185px;
  height: 185px;
  border: 2px solid #61045f;
  overflow: hidden;
  border-radius: 5px;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-component a {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: #61045f;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.img-component a:hover {
  background-color: #61045f5e;
}
